          
          <div class="exp">
            {% if site.exp != blank -%} 
            {%- assign exp_size = site.exp | size -%}
            <div class="table-responsive" {% if site.exp_scrollable and exp_size > 3 %}style="max-height: 10vw"{% endif %}>
              <table class="table table-sm table-borderless">
              {%- assign exp = site.exp | reverse -%}
              {% if site.exp_limit %}
              {% assign exp_limit = site.exp_limit %}
              {% else %}
              {% assign exp_limit = exp_size %}
              {% endif %}
              {% for item in exp limit: exp_limit %} 
                <tr>
                  <th scope="row">{{ item.period }}</th>
                  <td>
                    {% if item.inline -%}
                      <div class="news-item">
                        {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                      </div>
                    {%- else -%} 
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No exp so far...</p>
          {%- endif %} 
          </div>
